.carta-valor1{
    background-image: url("../img/edif3.jpg");
    background-position:center;
}
.carta-valor2{
    background-image: url("../img/edif2.jpg");
    background-position:left;
}
.carta-valor3{
    background-image: url("../img/edif.jpg");
    background-position:left;
}
