/**********imagen de fondo dependiendo la orientacion**********************/
body{
    overflow-x: hidden;
}
.f-mesa{
    background: fixed center  url("../img/mesa.jpg");
    background-size: cover;
}
#mainDiv{
    padding: 0;
}
.txt-12{
    font-size: 1.2rem;
}
.f-neg-transp{
    background-color: #00000050;
}
.txt-dorado{
    color: #CDB64C;
}
.card-title{
    font-size: 4rem;
    font-family: arial;
}
.carta-fondo-fijo{
    height: 25rem;
    width: auto;
    background-attachment: fixed;    
}
/******************barra de navegacion***********/
.navbar .navbar-brand{
    color: #CDB64C;
}
@media(min-width: 768px) and (max-width: 991px){
    .navbar .navbar-brand{
        font-size: 1.2rem;
    }
    .navbar-nav{     
        font-size: 1.4rem;
    }
}
@media(min-width: 992px){
    .navbar .navbar-brand{
        font-size: 2rem;
    }
    .navbar-nav{     
        font-size: 1.6rem;
    }
}
@media tv{
    .navbar .navbar-brand{
        font-size: 1.2rem;
    }
    .navbar-nav{
        font-size: 2rem;
    }
    
}
/***************footer******************/
footer table td{
    text-align: center;
}
/*Justamente para los botones redondos la formula es:********/
/*para el ancho y alto: (tamaño de la fuente  por 5 veces)***/
/*para el radio del borde es (ancho/2)***********************/
.btn-custome{
    color: #FFFFFF;
    font-weight: bold;
    background-color: #C1AB46;
    border-color: #BBA543;
}
@media(max-width: 767px){
    .btn-rounded{
        font-size: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .btn-rounded{
        font-size: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 1.25rem;
    }
}
@media(min-width: 992px){
    .btn-rounded{
        font-size: 0.8rem;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
    }
}
.btn-custome:hover,
.btn-custome:focus,
.btn-custome.focus,
.btn-custome:active,
.btn-custome.active,
.open > .dropdown-toggle.btn-custome {
  color: #fff;
  background-color: #B6A140;
  border-color: #B19C3D;
}
.btn-custome:active,
.btn-custome.active,
.open > .dropdown-toggle.btn-custome {
  background-image: none;
}
.btn-custome.disabled,
.btn-custome[disabled],
fieldset[disabled] .btn-custome,
.btn-custome.disabled:hover,
.btn-custome[disabled]:hover,
fieldset[disabled] .btn-custome:hover,
.btn-custome.disabled:focus,
.btn-custome[disabled]:focus,
fieldset[disabled] .btn-custome:focus,
.btn-custome.disabled.focus,
.btn-custome[disabled].focus,
fieldset[disabled] .btn-custome.focus,
.btn-custome.disabled:active,
.btn-custome[disabled]:active,
fieldset[disabled] .btn-custome:active,
.btn-custome.disabled.active,
.btn-custome[disabled].active,
fieldset[disabled] .btn-custome.active {
    background-color: #C1AB46;
    border-color: #BBA543;
}
.btn-custome .badge {
    background-color: #C1AB46;
    border-color: #BBA543;
}
.modal-body{
    text-align: justify;
}
.hover-white:hover{
    background-color: #FFFFFF32;
}